*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #70fa82;
}
.container{
   background-color: #fff;
   padding: 2rem;
   border-radius: 1rem;
   min-height: 45vh; 
   width: 40vh;
}